.wrapper{
    border:3px solid black;
    width:400px;
    height: 400px;
    margin: 50px 0 0 50px;
}
.header{
    margin-left:2px;
}

.parent {
    border-top:3px solid black;
    
}
.green{
    border:3px solid black;
    height:70px;
    margin:30px 10px 5px;
    background-color:green;
}
.img{
    display: flex;
    width:120px;
    height:120px;
    margin:5px;
    justify-content: space-between;
    
}

img{
    width:120px;
    height:120px;
}
.colors{
    display:flex;
    justify-content: space-between;
    margin:15px 10px;
   }

.yellow{
    background-color: rgb(226, 159, 35);
    border:3px solid black;
    width:115px;
    height:115px;
    }
    
.red{
    background-color: #b13e3e;
    border:3px solid black;
    width:115px;
    height:115px;
    }
    
.blue{
    background-color: skyblue;
    border:3px solid black;
    width:115px;
    height:115px;
    }